<template>
  <div
    class="layout"
    ref="scrollWrapper"
    @click="calculateSize"
    @wheel="scroll"
  >
    <div
      :class="
      'layout__content' + ( this.dragging ? ' ' : ' vue-scrollbar-transition ') + contentClass
      "
      ref="scrollArea"
      @touchstart="startDrag"
      @touchmove="onDrag"
      @touchend="stopDrag"
      :style="{
        marginTop: this.marginTop,
        marginLeft: this.marginLeft
      }"
    >
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    contentClass: String,
    centered: Boolean,
    page: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      scrollDraggingTimeout: null,
      ready: false,
      top: 0,
      left: 0,
      scrollAreaHeight: null,
      scrollAreaWidth: null,
      scrollWrapperHeight: null,
      scrollWrapperWidth: null,
      vMovement: 0,
      hMovement: 0,
      dragging: false,
      start: { y: 0, x: 0 },
      allowBodyScroll: false,
    };
  },
  computed: {
    marginTop() {
      return `${this.top * -1}px`;
    },
    marginLeft() {
      return `${this.left * -1}px`;
      // return this.centeredPageLeftOffset;
    },
  },
  watch: {
    page() {
      this.centerOnCurrentPage();
    },
    dragging(newValue) {
      if (!newValue) {
        this.goToPage(this.getCenteredPage());
      }
    },
  },
  methods: {
    goToPage(page) {
      if (this.page === page) {
        this.centerOnCurrentPage();
      } else {
        this.$emit('goToPage', page);
      }
    },
    getCenteredPage() {
      const center = this.scrollWrapperWidth / 2;
      const pages = this.$refs.scrollArea.getElementsByClassName('layout__page');
      for (let i = 0; i < pages.length; i += 1) {
        const offset = pages[i].offsetLeft - this.left;
        if (i < pages.length - 1) {
          const nextOffset = pages[i + 1].offsetLeft - this.left;
          if ((offset < center) && (center < nextOffset)) return i;
        } else {
          if ((offset > center)) return 0;
          return pages.length - 1;
        }
      }
      return 0;
    },
    centerOnCurrentPage() {
      const pages = this.$refs.scrollArea.getElementsByClassName('layout__page');
      const pageEl = pages[this.page];
      const offsetLeft = pageEl.offsetLeft - (this.scrollWrapperWidth / 2);
      if (this.centered) {
        this.scrollToX(offsetLeft + (pageEl.clientWidth / 2));
      } else {
        this.scrollToX(offsetLeft);
      }
      // if (this.leftOffset > 0) {
      //   this.scrollToX(offsetLeft + this.leftOffset);
      // } else {
      //   this.scrollToX(offsetLeft + (pageEl.clientWidth / 2));
      // }
      // this.scrollToX(offsetLeft + (pageEl.clientWidth));
    },
    scroll(e) {
      // Make sure the content height is not changed
      this.calculateSize(() => {
        // Set the wheel step
        // const num = this.speed;
        // DOM events
        const shifted = e.shiftKey;
        let scrollX = e.deltaX;
        // Fix Mozilla Shifted Wheel~
        if (shifted && e.deltaX === 0) scrollX = e.deltaY > 0 ? num : -(num);
        // Next Value
        const nextX = this.left + scrollX;
        // Is it Scrollable?
        const horizontalScroll = Math.abs(e.deltaX) > Math.abs(e.deltaY);
        // Vertical Scrolling
        if (horizontalScroll) {
          this.dragging = true;
          if (this.scrollDraggingTimeout !== null) {
            clearTimeout(this.scrollDraggingTimeout);
          }
          this.scrollDraggingTimeout = setTimeout(() => {
            this.dragging = false;
            this.scrollDraggingTimeout = null;
          }, 200);
          this.normalizeHorizontal(nextX);
          e.preventDefault();
          e.stopPropagation();
        }
      });
    },
    // DRAG EVENT JUST FOR TOUCH DEVICE~
    startDrag(e) {
      this.touchEvent = e;
      const evt = e.changedTouches ? e.changedTouches[0] : e;
      // Make sure the content height is not changed
      this.calculateSize(() => {
        // Prepare to drag
        this.dragging = true;
        this.start = { y: evt.pageY, x: evt.pageX };
      });
    },
    onDrag(e) {
      if (this.dragging) {
        const evt = e.changedTouches ? e.changedTouches[0] : e;
        // Invers the Movement
        const xMovement = this.start.x - evt.clientX;
        const yMovement = this.start.y - evt.clientY;
        const verticalScroll = Math.abs(xMovement) < Math.abs(yMovement);
        if (!verticalScroll) {
          e.preventDefault();
          e.stopPropagation();
          // Prevent Click Event When it dragging
          if (this.touchEvent) {
            this.touchEvent.preventDefault();
            this.touchEvent.stopPropagation();
          }
          // Update the last e.client
          this.start = { x: evt.clientX, y: evt.clientY };
          const nextX = this.left + xMovement;
          this.normalizeHorizontal(nextX);
        }
      }
    },
    stopDrag() {
      this.dragging = false;
      this.touchEvent = false;
    },
    scrollToX(x) {
      this.normalizeHorizontal(x);
    },
    normalizeHorizontal(_next) {
      const next = _next;

      const elementSize = this.getSize();
      // Horizontal Scrolling
      // const rightEnd = elementSize.scrollAreaWidth - this.scrollWrapperWidth;
      // Max Scroll Right
      // const maxRight = next > rightEnd;
      // if (maxRight) next = rightEnd;
      // Max Scroll Left
      // const maxLeft = next < 0;
      // if (next < 0) next = 0;
      // Update the Horizontal Value
      const shouldScroll = this.left !== next;
      this.allowBodyScroll = !shouldScroll;
      if (shouldScroll) {
        this.left = next;
        this.hMovement = (next / elementSize.scrollAreaWidth) * 100;
        // if (this.onMaxScroll && (maxRight || maxLeft)) {
        //   this.onMaxScroll({ right: maxRight, left: maxLeft, top: false, bottom: false });
        // }
      }
    },
    handleChangePosition(movement, orientation) {
      // Make sure the content height is not changed
      this.calculateSize(() => {
        // Convert Percentage to Pixel
        const next = movement / 100;
        if (orientation === 'horizontal') this.normalizeHorizontal(next * this.scrollAreaWidth);
      });
    },
    handleScrollbarDragging() {
      this.dragging = true;
    },
    handleScrollbarStopDrag() {
      this.dragging = false;
    },
    getSize() {
      // The Elements
      const $scrollArea = this.$refs.scrollArea;
      const $scrollWrapper = this.$refs.scrollWrapper;
      return {
        // Scroll Area Height and Width
        scrollAreaHeight: $scrollArea.clientHeight,
        scrollAreaWidth: $scrollArea.clientWidth,
        // Scroll Wrapper Height and Width
        scrollWrapperHeight: $scrollWrapper.clientHeight,
        scrollWrapperWidth: $scrollWrapper.clientWidth,
      };
    },
    calculateSize(_cb) {
      let cb = _cb;
      if (typeof cb !== 'function') cb = null;
      const elementSize = this.getSize();
      if (elementSize.scrollWrapperHeight !== this.scrollWrapperHeight ||
          elementSize.scrollWrapperWidth !== this.scrollWrapperWidth ||
          elementSize.scrollAreaHeight !== this.scrollAreaHeight ||
          elementSize.scrollAreaWidth !== this.scrollAreaWidth) {
        // Scroll Area Height and Width
        this.scrollAreaHeight = elementSize.scrollAreaHeight;
        this.scrollAreaWidth = elementSize.scrollAreaWidth;
        // Scroll Wrapper Height and Width
        this.scrollWrapperHeight = elementSize.scrollWrapperHeight;
        this.scrollWrapperWidth = elementSize.scrollWrapperWidth;
        // Make sure The wrapper is Ready, then render the scrollbar
        this.ready = true;
        return cb ? cb() : false;
      }
      return cb ? cb() : false;
    },
  },
  mounted() {
    this.dragging = true;
    this.calculateSize();
    // Attach The Event for Responsive View~
    window.addEventListener('resize', this.calculateSize);
    const pages = this.$refs.scrollArea.getElementsByClassName('layout__page');
    for (let i = 0; i < pages.length; i += 1) {
      pages[i].addEventListener('click', (e) => { this.goToPage(i); });
    }
    this.centerOnCurrentPage();
    setTimeout(() => {this.dragging = false}, 10);
  },
  beforeDestroy() {
    // Remove Event
    window.removeEventListener('resize', this.calculateSize);
  },
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.layout {
  /*margin: 0 auto;*/
  overflow-x: hidden;
  position: relative;
  background: #fff;
  width: 100%;
  /*height: 400px;*/
}

.layout__content {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  /*left: 200px;*/
  /*top: 0;*/
}
.layout__page {
  flex-shrink: 0;
}

.vue-scrollbar-transition, .vue-scrollbar__scrollbar-vertical,
.vue-scrollbar__scrollbar-horizontal {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.vue-scrollbar-transition--scrollbar {
  transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
}
</style>
