<template>
  <div id="app">
    <Layout :page="page" @goToPage="goToPage" :centered="true" :contentClass="window.width > 1024 ? 'contentStepClass' : ''">
      <div class="layout__page test">
      </div>
      <div class="layout__page test">
        1
      </div>
      <div class="layout__page test">
        2
      </div>
      <div class="layout__page test">
        3
      </div>
      <div class="layout__page test">
        4
      </div>
      <div class="layout__page test">
        5
      </div>
      <div class="layout__page test">
        6
      </div>
    </Layout>
    <br><br>
    <Layout :page="page" @goToPage="goToPage" :centered="window.width < 1024" :contentClass="window.width > 1024 ? 'contentClass' : ''">
      <div class="layout__page test1">
      </div>
      <div class="layout__page test1">
        1
      </div>
      <div class="layout__page test2">
        2
      </div>
      <div class="layout__page test3">
        3
      </div>
      <div class="layout__page test4">
        4
      </div>
      <div class="layout__page test5">
        5
      </div>
      <div class="layout__page test6">
        6
      </div>
    </Layout>
    <button @click="() => page = page+1">{{ page }} Next page</button>
  </div>
</template>

<script>
import Layout from './components/Layout';

export default {
  name: 'App',
  data() {
    return {
      page: 0,
      window: {
        width: 0,
        height: 0,
      },
    };
  },
  methods: {
    goToPage(e) {
      this.page = e;
    },
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    },
  },
  components: {
    Layout,
  },
  created() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.contentClass {
  left: -324px;
}
.contentStepClass {
  left: -158px;
}


.test {
  width: 332px;
  height: 50px;
  background-color: darkgrey;
  margin-right: 10px;
}
.test1 {
  width: 490px;
  height: 300px;
  background-color: darkgrey;
  margin-right: 10px;
}
.test2 {
  width: 300px;
  height: 700px;
  background-color: gold;
  border: solid 1px red;
  margin-right: 10px;
}
.test3 {
  width: 200px;
  height: 200px;
  background-color: green;
  border: solid 1px red;
  margin-right: 10px;
}
.test4 {
  width: 200px;
  height: 200px;
  background-color: gray;
  border: solid 1px red;
  margin-right: 20px;
}
.test5 {
  width: 400px;
  height: 200px;
  background-color: red;
  border: solid 1px red;
  margin-right: 20px;
}
.test6 {
  width: 200px;
  height: 200px;
  background-color: darkgrey;
  border: solid 1px red;
  margin-right: 10px;
}

</style>
